<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/logo.png">
    <link rel ="stylesheet" href="/css/style.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your Weather information!</p>

        <form>
            <input placeholder="Enter Location eg. New Delhi">
            <button>Search</button>
        </form>

        <p id="message-1">Location: </p>
        <p id="message-2">Waether: </p>

    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>